---
import type { HonorableMember } from "../constants/honorable-members";

interface Props {
  data: HonorableMember;
}

const { data } = Astro.props;
---

<div class="flex items-center gap-2 md:last:border-b border-border-dark">
  <img
    class="size-14 border-r border-border-dark"
    src={data.avatarSrc}
    alt={`${data.name} avatar`}
  />
  <div class="flex flex-col">
    <span class="text-lg font-semibold text-foreground-heading">
      {data.name}
    </span>
    <span class="text-sm text-foreground-body">{data.title}</span>
  </div>
  <div class="flex gap-2 ml-auto pr-4">
    {
      data.links.map(({ Icon, url, label }) => (
        <a href={url} target="_blank" rel="noopener noreferrer" aria-label={label}>
          <Icon />
        </a>
      ))
    }
  </div>
</div>
